@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Seven Segment';
    src: url('SevenSegment.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
html, body {
    height: 100%;
}
/* 
tabellone
*/
.tabellone{
    font-family: 'Seven Segment', monospace;
    @apply bg-black m-0 leading-none select-none;
    @apply grid grid-rows-5  grid-cols-10 gap-5 text-center place-items-center p-16;
}
.quarto{
    @apply text-green-400 text-11xl row-span-2 col-span-2;
}
.squadra{
    @apply col-span-5 text-12xl text-white;
}
.punteggio{
    @apply col-span-3 row-span-2 text-25xl text-red-600;
}
.timer{
    @apply col-span-6 text-25xl row-span-2 text-green-400;
}
.timeout-falli{
    @apply row-span-2 text-5xl grid-rows-4 gap-1;
}
.timeout{
    @apply text-green-400;
}
.bonus{
    @apply text-red-600;
}
.falli{
    @apply row-span-2 text-red-600 text-12xl;
}
.freccia{
    @apply row-span-2 text-red-600 text-11xl;
}
.form-group{
    @apply space-x-5;
}
.form-label{
    @apply font-bold
}
.form-input{
    @apply border-2 border-blue-400 px-2;
}


